/* TOC
=====================*/
.toc {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 10px;
    ol {
        // Level 1
        list-style-type: none;
        padding-left: 0px;
        line-height: 1.5;
        font-size: 16px;

        // Level 2
        ol {
            margin-left: 2rem;

            // Level 3
            ol {
                margin-left: 3rem;
            }
        }
    }
    li a:before {
        content: '#';
        padding-right: 5px;
    }
}

/* Custom page style
=====================*/
.markdown {
    h2 {
        font-size: 24px;
    }
    h3 {
        font-size: 18px;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 3rem auto;

        @media (min-width: 1200px) {
            max-width: 75%;
        }
    }

    p {
        text-align: justify;
    }

    /* NOTICES
    =====================*/
    .notices {
        padding: 10px 1px 1px 30px;
        margin: 15px 0;

        &.yellow {
            &:before { content: "\f05a   " attr(data-label); }
            border-left: 10px solid #f0ad4e;
            background: #fcf8f2;
            color: #df8a13;
        }

        &.red {
            &:before { content: "\f071   " attr(data-label); }
            border-left: 10px solid #d9534f;
            background: #fdf7f7;
            color: #b52b27;
        }

        &.blue {
            &:before { content: "\f05a   " attr(data-label); }
            border-left: 10px solid #5bc0de;
            background: #f4f8fa;
            color: #28a1c5;
        }

        &.green {
            &:before { content: "\f058   " attr(data-label); }
            border-left: 10px solid #5cb85c;
            background: #f1f9f1;
            color: #3d8b3d;
        }

        &:before {
            content: attr(data-label);
            font-family: FontAwesome;
            font-weight: bold;
        }

        p {
            margin: 10px 0 10px;
        }
    }
}